
@{
    ViewBag.Title = "Create_Poll";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
    ViewBag.CreatePollClass = "Active";
    ViewBag.PageName = " Create Poll";
    ViewBag.CreatePollClass = "active";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<form action="~/Poll/Create_Poll" method="post">
    <div class="container my-1">
        <h1>Create a Poll</h1>
    </div>
    <div class="container my-1">
        <p class="fw-light">Complete the below fields to create your poll</p>
    </div>
    <br>

    <div class="container my-1">
        <p class="fw-normal">Poll question</p>
        <div class="form-floating active">
            <textarea class="form-control" name="cp_Question" placeholder="ask a question here" id="floatingTextarea2" style="height: 100px" required></textarea>
            <label for="floatingTextarea2"><p class="fw-lighter">Eg. What is your favourite color?</p></label>
        </div>
    </div>
    <br>
    <div class="container my-1">
        <p container class="fw-normal">Poll options</p>
    </div>
    <div class="container">
        <div class="form-floating active">
            <input type="text" class="form-control" name="option1" placeholder="put a option here." id="floatingTextarea" required />
            <label for="floatingTextarea"><p class="fw-lighter">Eg. Option 1</p></label>
        </div>
    </div>
    <br>

    <div class="container" id="addafter">
        <div class="form-floating active">
            <input type="text" class="form-control" name="option2" placeholder="put a option here." id="floatingTextarea" required />
            <label for="floatingTextarea"><p class="fw-lighter">Eg. Option 2</p></label>
        </div>
    </div>
    <br>


    <div class="container">
        <button type="button" class="btn btn-primary" id="Addoption">Add Another Option</button>
    </div>
    <br>
    <hr>

    <br>
    <div class="container">
        <div class="container">
            <label class="form-label">Poll category</label>
            <div class="form-floating">
                <select class="form-select pt-0 pb-0" name="Category" id="floatingSelectGrid" style="width: 40%;">
                    <option selected value="System"><p class="fw-lighter">Eg. System</p></option>
                    <option value="System">System</option>
                </select>
            </div>

            <!-- <div class="col-md-4">
                <label class="form-label">Poll visiblity</label>
              <div class="form-floating">
                <select class="form-select" id="floatingSelectGrid">
                  <option selected><p class="fw-lighter">Private</p></option>
                  <option value="1">Public</option>
                  <option value="2">Private</option>

                </select>
              </div>
            </div> -->
        </div>
        <br>

        <div class="row m-2">
            <div class="card col-md-4">
                <div class="form-check card-body pl-4">
                    <input class="form-check-input" type="checkbox" name="cp_multipleoption" id="AllowMultiple">
                    <label class="form-check-label" for="AllowMultiple">
                        Allow multiple votes
                    </label>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="card col-md-4">
                <div class="form-check card-body pl-4">
                    <input class="form-check-input" type="checkbox" name="cp_comment" id="Addcomment">
                    <label class="form-check-label" for="Addcomment">
                        Add Comment
                    </label>
                </div>
            </div>
        </div>
        <br />
        <div class="row m-2">
            <div class="card col-md-4">
                <div class="form-check card-body pl-4">
                    <input class="form-check-input" type="checkbox" value="" name="Set_Enddate" id="EndDate">
                    <label class="form-check-label" for="EndDate">
                        Set End date
                    </label>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="card border-0 bg-transparent col-md-4">
                <div class="End_date pt-2" style="display:none">
                    <input type="date" style="width:100%;height:100%;" class="form-control" id="End_Date" value="null" name="cp_enddate" />
                </div>
            </div>
        </div>

        <br />

        <br />
        <div class="container">
            <input type="submit" class="btn btn-primary">
        </div>
    </div>
</form>
@{
    var message = ViewBag.Message;
}
<script src="~/Content/Admin_JS/Admin_JSFile.js"></script>
<script>
    var message = '@message';
    if (message) {
        alert(message);
    }
</script>
